[Unit]
Description=Capture logs from xlxd.service to xlx.log
After=xlxd.service
BindsTo=xlxd.service

[Service]
ExecStart=/usr/local/bin/xlx_log.sh
Restart=always
User=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target xlxd.service
